<!doctype html>
<html>
  <head>
    <title>OpenAI Assistant Chat</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <img
        src="{{ url_for('static', filename='icon.png') }}"
        alt="OpenAI Logo"
      />
      <div class="demo-text">Demo</div>
    </div>
    <div id="upload-banner">
      <!-- Success message will be inserted here -->
    </div>
    <div class="chat-container">
      {% for message in chat_history %}
      <div class="message-role {{ 'user' if message.role == 'user' else '' }}">
        {{ message.role.capitalize() }}
      </div>
      <div
        class="{{ 'user-message' if message.role == 'user' else 'assistant-message' }}"
      >
        {{ message.content }}
      </div>
      {% endfor %}
    </div>
    <div id="fileModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Files:</p>
        <ul id="fileList"></ul>
      </div>
    </div>
    <div class="message-input-container">
      <form action="/chat" method="post">
        <textarea
          name="message"
          placeholder="Enter your message"
          required
        ></textarea>
        <div class="button-group">
          <button type="submit" id="send-btn">&#x2191;</button>
        </div>
      </form>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Check if there are messages to load
        fetch("/get_messages")
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              const chatContainer = document.querySelector(".chat-container");
              data.messages.forEach((msg) => {
                const roleDiv = document.createElement("div");
                roleDiv.classList.add("message-role");
                if (msg.role === "user") {
                  roleDiv.classList.add("user");
                }
                roleDiv.textContent =
                  msg.role.charAt(0).toUpperCase() + msg.role.slice(1);
                chatContainer.appendChild(roleDiv);

                const messageDiv = document.createElement("div");
                messageDiv.classList.add(
                  msg.role === "user" ? "user-message" : "assistant-message"
                );
                messageDiv.textContent = msg.content;

                // Check if there are file IDs and append them
                if (msg.file_ids.length > 0) {
                  const fileIcon = document.createElement("span");
                  fileIcon.innerHTML = "&#128194;"; // File folder emoji as icon
                  fileIcon.classList.add("file-icon");
                  fileIcon.onclick = function () {
                    showFiles(msg.file_ids);
                  };
                  messageDiv.appendChild(fileIcon);
                }

                chatContainer.appendChild(messageDiv);
              });
            }
          });

        // Modal script
        var modal = document.getElementById("fileModal");
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
          modal.style.display = "none";
        };

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        };

        function showFiles(fileIds) {
          const fileList = document.getElementById("fileList");
          fileList.innerHTML = ""; // Clear existing list items
          fileIds.forEach((fileId) => {
            const li = document.createElement("li");
            li.textContent = fileId;
            fileList.appendChild(li);
          });
          document.getElementById("fileModal").style.display = "block";
        }

        fetch("/get_ids")
          .then((response) => response.json())
          .then((data) => {
            console.log(
              "Data: ",
              data,
              "Assistant ID: ",
              data.assistant_id,
              "Thread ID: ",
              data.thread_id
            );
          });
      });

      // document
      //   .getElementById("file-upload")
      //   .addEventListener("change", function (event) {
      //     const file = event.target.files[0];
      //     if (!file) {
      //       return;
      //     }
      //     const formData = new FormData();
      //     formData.append("file", file);

      //     fetch("/upload", {
      //       method: "POST",
      //       body: formData,
      //     })
      //       .then((response) => response.json())
      //       .then((data) => {
      //         if (data.success) {
      //           // Update and show the banner
      //           const banner = document.getElementById("upload-banner");
      //           banner.textContent = data.message;
      //           banner.style.display = "block";

      //           // Hide the banner after 3 seconds
      //           setTimeout(() => {
      //             banner.style.display = "none";
      //           }, 3000);
      //         } else {
      //           // Handle failure (optional)
      //           console.error("Upload failed:", data.message);
      //           // Update and show the banner
      //           const banner = document.getElementById("upload-banner");
      //           banner.textContent = data.message;
      //           banner.style.display = "block";
      //           banner.style.color = "red";

      //           // Hide the banner after 3 seconds
      //           setTimeout(() => {
      //             banner.style.display = "none";
      //           }, 3500);
      //         }
      //       })
      //       .catch((error) => {
      //         console.error("Error uploading file:", error);
      //       });
      //   });
      document
        .querySelector("form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const messageInput = document.querySelector(
            'textarea[name="message"]'
          );
          const message = messageInput.value.trim();
          const chatContainer = document.querySelector(".chat-container");
          // Append the user's message to the chat container
          if (message) {
            const roleDiv = document.createElement("div");
            roleDiv.classList.add("message-role");
            roleDiv.classList.add("user");

            roleDiv.textContent = "User";
            chatContainer.appendChild(roleDiv);

            const userMessageDiv = document.createElement("div");
            userMessageDiv.classList.add("user-message");
            userMessageDiv.textContent = message;
            chatContainer.appendChild(userMessageDiv);
          }
          // Clear the message input
          messageInput.value = "";
          // Send the user's message to the server using AJAX
          fetch("/chat", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ message: message }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                const roleDiv = document.createElement("div");
                roleDiv.classList.add("message-role");
                roleDiv.classList.add("assistant");

                roleDiv.textContent = "Assistant";
                chatContainer.appendChild(roleDiv);

                // Remove the typing indicator
                typingIndicator.remove();

                // Append the assistant's message to the chat container
                const assistantMessageDiv = document.createElement("div");
                assistantMessageDiv.classList.add("assistant-message");
                assistantMessageDiv.textContent = data.message;
                chatContainer.appendChild(assistantMessageDiv);
                // Scroll to the bottom of the chat container
                chatContainer.scrollTop = chatContainer.scrollHeight;
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });

          // Create a typing indicator container
          const typingIndicatorContainer = document.createElement("div");
          typingIndicatorContainer.classList.add("typing-indicator-container");

          // Create a typing indicator
          const typingIndicator = document.createElement("div");
          typingIndicator.classList.add("typing-indicator");
          typingIndicator.textContent = "•••";

          // Append the typing indicator to its container
          typingIndicatorContainer.appendChild(typingIndicator);

          // Append the typing indicator container to the chat container
          chatContainer.appendChild(typingIndicatorContainer);

          // Scroll to the bottom of the chat container
          chatContainer.scrollTop = chatContainer.scrollHeight;
        });
      // Add event listener for the clear button
      // document
      //   .getElementById("clear-btn")
      //   .addEventListener("click", function () {
      //     // Clear the chat container
      //     const chatContainer = document.querySelector(".chat-container");
      //     chatContainer.innerHTML = "";
      //     // Re-insert the initial system message as an assistant message
      //     const systemMessageDiv = document.createElement("div");
      //     systemMessageDiv.classList.add("assistant-message");
      //     systemMessageDiv.textContent = "You are a helpful assistant.";
      //     chatContainer.appendChild(systemMessageDiv);
      //     // Reset the chat history on the server
      //     fetch("/reset", {
      //       method: "POST",
      //     }).then((response) => {
      //       if (response.ok) {
      //         console.log("Chat history has been reset.");
      //       }
      //     });
      //   });
    </script>
  </body>
</html>
