<!DOCTYPE html>
<head>
  <title>Lesson Plan Creator</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='lessonplan.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='lessonplan.png') }}" class="icon" />
  <h3>What topic do you want to create a lesson plan for?</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter an topic" required />
    <input type="submit" value="Generate ideas" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
